node_modules
package-lock.json
.env

server/node_modules
server/dist
server/package-lock.json
server/images/**/*.*
!server/images/full/test.jpeg
!server/images/full/README.md
!server/images/thumb/README.md